<div class="table-responsive">
    <div class="table table-borderless">
        <table>
            <thead>
                <tr >
                    <th colspan = "3">Meeting: <%= @meeting.meeting_date.strftime("%A %B %C") %></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @meeting.home_team %>:</td>
                    <td><%= @meeting.home_score %></td>
                    <td><%= @meeting.away_team %>:</td>
                    <td><%= @meeting.away_score %></td>
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%= button_to "Add heat", new_race_path, params: {:meeting_id => @meeting.id}, method: :get, class: "btn btn-primary" %>

<p></p>

<div class="table table-bordered">
    <table>
        <thead class="thead-dark">
            <tr>
                <th>Heat</th>
                <th>Blue</th>
                <th>Red</th>
                <th>White</th>
                <th>Yellow</th>
                <th>Heat time</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <% @meeting.races.each do |race| %>
            <tr>
                <td><%= race.heat_number %></td>
                <td><%= race.blue_score %></td>
                <td><%= race.red_score %></td>
                <td><%= race.white_score %></td>
                <td><%= race.yellow_score %></td>
                <td><%= race.heat_time %></td>
                <td><%= link_to 'Edit', edit_race_path(race) %></td>
                <td><%= link_to 'Delete', race, method: :delete,
                                     data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= link_to "Back", meetings_path %>
<%= link_to "Home riders", meeting_home_riders_path %>
